<%= form_with(model: form_submission, local: true) do |form| %>
  <% if form_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_submission.errors.count, "error") %> prohibited this form_submission from being saved:</h2>

      <ul>
        <% form_submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :form_application_id %>
    <%= form.text_field :form_application_id %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.text_field :professor_id %>
  </div>

  <div class="field">
    <%= form.label :offer_id %>
    <%= form.text_field :offer_id %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :answer_id %>
    <%= form.text_field :answer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
