<h1>System Modules</h1>


<p> <%= link_to "Majors", majors_url %> </p>
<p> <%= link_to "Professors", professors_url %> </p>
<p> <%= link_to "CCRs", ccrs_url %> </p>
<p> <%= link_to "Answers", answers_url %> </p>
<p> <%= link_to "Question templates", question_templates_url %> </p>
<p> <%= link_to "Questions", questions_url %> </p>
<p> <%= link_to "Form templates", form_templates_url %> </p>
<p> <%= link_to "Form applications", form_applications_url %> </p>
<p> <%= link_to "Semesters", semesters_url %> </p>
<p> <%= link_to "Offers", offers_url %> </p>
<p> <%= link_to "Users", users_url %> </p>
<p> <%= link_to "Reports", reports_url %> </p>