<p id="notice"><%= notice %></p>

<p>
  <strong>Answer type:</strong>
  <%= @answer.answer_type %>
</p>

<p>
  <strong>Text:</strong>
  <%= @answer.text %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @answer.priority %>
</p>

<p>
  <strong>Locked:</strong>
  <%= @answer.locked %>
</p>

  <% for question in @answer.question_templates %>
    <p> <%= question %> </p>
  <% end %>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
