<%= form_with(model: form_application, local: true) do |form| %>
  <% if form_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_application.errors.count, "error") %> prohibited this form_application from being saved:</h2>

      <ul>
        <% form_application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :semester_id %>
    <%= form.collection_select :semester_id, Semester.all, :id, :to_s, 
      { selected: form_application.semester && form_application.semester.id } %>
  </div>
  <div class="field">
    <%= form.label :form_template_id %>
    <%= form.collection_select :form_template_id, FormTemplate.all, :id, :name, 
      { selected: form_application.form_template && form_application.form_template.id } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
