<p id="notice"><%= notice %></p>

<h1>Form Applications</h1>

<table>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Form template</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_applications.each do |form_application| %>
      <tr>
        <td><%= form_application.semester.to_s %></td>
        <td><%= form_application.form_template.name %></td>
        <td><%= link_to 'Show', form_application %></td>
        <td><%= link_to 'Edit', edit_form_application_path(form_application) %></td>
        <td><%= link_to 'Destroy', form_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form Application', new_form_application_path %>
