<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ccr_id %>
    <%= form.collection_select :ccr_id, Ccr.all, :id, :name,
      { selected: offer.ccr && offer.ccr.id } %>
  </div>

  <div class="field">
    <%= form.label :major_id %>
    <%= form.collection_select :major_id, Major.all, :id, :name,
      { selected: offer.major && offer.major.id } %>
  </div>

  <% if offer.major %>
    <div class="field">
      <%= form.label :professors %>
      <%= form.collection_select :professors, offer.major.professors, :id, :name, 
        { selected: offer.professors && offer.professors.map(&:id) }, { multiple: true } %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
