<p id="notice"><%= notice %></p>


<p>  <strong>CCR:</strong> <%= @offer.ccr %> </p>
<p>  <strong>Major:</strong> <%= @offer.major %> </p>
<p>  <strong>Professors:</strong> <%= @offer.professors.map(&:name) %> </p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
