<p id="notice"><%= notice %></p>

<h1>Ccrs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ccrs.each do |ccr| %>
      <tr>
        <td><%= ccr.name %></td>
        <td><%= link_to 'Show', ccr %></td>
        <td><%= link_to 'Edit', edit_ccr_path(ccr) %></td>
        <td><%= link_to 'Destroy', ccr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ccr', new_ccr_path %>
