<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>CPA Forms</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
    body {
      padding-bottom: 20px;
      margin: 0px;
    }

    .navbar {
      margin-bottom: 20px;
    }
    </style>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">CPA Forms</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">


          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cadastro institucional</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <%= link_to "Cursos", majors_url, {class:'dropdown-item'} %>
                <%= link_to "Professores", professors_url, {class:'dropdown-item'}  %>
                <%= link_to "CCRs", ccrs_url, {class:'dropdown-item'}  %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Elaboração dos questionários</a>
              <div class="dropdown-menu" aria-labelledby="dropdown02">
                <%= link_to "Banco de questionários", form_templates_url, {class:'dropdown-item'}  %>
                <%= link_to "Banco de questões", questions_url, {class:'dropdown-item'}  %>
                <%= link_to "Modelos para questões", question_templates_url, {class:'dropdown-item'}  %>
                <%= link_to "Respostas padronizadas", answers_url, {class:'dropdown-item'}  %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cadastro de ofertas</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
                <%= link_to "Incluir ofertas em semestres", semesters_url, {class:'dropdown-item'}  %>
                <%= link_to "Definir ofertas", offers_url, {class:'dropdown-item'}  %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Links para aplicação e relatórios</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <%= link_to "Form applications", form_applications_url, {class:'dropdown-item'} %>
                <%= link_to "Reports", reports_url, {class:'dropdown-item'} %>
              </div>
            </li>
          </ul>
          <li class="nav-item"><%= link_to "Administração", users_url, {class: 'nav-link'} %> </li>
        </div>
      </div>
    </nav>
    <div class="container">
    <main role="main">
    <%= yield %>
    </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
